<div class="col-2  position-relative CategoryContainerCol cPointer">
    <div class="CategoryContainer border rounded-3 overflow-hidden">
        <img class="w-100 transition" src="assets/images/mvcproimgs20.jpg" />
    </div>
</div>