<div class="col-4 fixedContainerCol">
    <div class="rounded-2 overflow-hidden position-relative cPointer">
        <img class="img-fluid transition" src="/assets/images/MvcProImgs71.jpg" />
        <div class="position-absolute top-0 start-0 w-100 h-100 overlay-2 transition">
        </div>
        <div class="position-absolute top-0 start-0 w-100 h-100 overlay-3 overlay-32 d-flex flex-column justify-content-center align-items-center p-3">
            <button class="btn text-white rounded-2 fw-500 mainbg">FREEBIES</button>
            <p class="text-white fw-500">Upcoming freebies: Fabledom. Tales of trades, feuds and partnerships</p>
        </div>
    </div>
</div>