<div class="col-6 startWarsSectionCol">
    <div class="rounded-2 overflow-hidden position-relative d-flex justify-content-center align-items-center cPointer">
        <img class="transition" src="assets/images/MvcProImgs47.jpg" />
        <i class="fa-solid fa-play playIcon transition"></i>
        <div class="playIcon2"></div>
    </div>
</div>