<div class="d-flex mb-3">
    <img class="rounded-2" src="assets/images/MvcProImgs52.jpg" />
    <div class="p-2">
        <p class="fw-500">Diablo IV</p>
        <p>Rated 4.00 out of 5</p>
        <p class="mainColor">£69.99</p>
    </div>
</div>