<div class="col-lg-2 col-md-3 col-sm-6 TopSellerContainerCol position-relative cPointer">
    <div class="TopSellerContainer position-relative overflow-hidden">
        <div class="rounded-3 overflow-hidden">
            <img class="img-fluid" src="assets/images/MvcProImgs29.jpg" />
        </div>
        <p>STAR WARS Jedi:</p>
        <p>53.99&dollar;</p>
        <div class="overlay transition position-absolute d-flex flex-column p-3 gap-3">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-regular fa-heart"></i>
        </div>
    </div>
</div>